.bg_color{
  background-color: #222222;
}
.admin_body_html{
  background-color: #222222;
}
.remove{
  color: #ff0000 !important;
  margin-left: 92%;
}
.green{
  color: #3c763d;
}
.red{
  color: #ff0000;
}
.white{
  color: #ffffff;
}
.center{
  margin: auto;
}
.imgbox{
  height: 200px;
}
.boxes{
  float: left;
  margin-right: 2%;
  width: 20%;
  height: 340px;
}
.mar5{
  margin-left: 5px;
}
.edit{
  width: 12px;
  height: 12px;
}
.fonth3{
  font-size: x-large;
}
img{
  width: 100%;
  height: 100%;
}